{% extends 'base.html' %}
{% set active_page = 'contact' %}
{% block container %}
<div class="jumbotron">
    <p>To contact an administrator please send a message to <a href="mailto:{{config[ 'POSTMASTER_EMAIL']}}">{{config['POSTMASTER_EMAIL']}}</a></p>
</div>
{% endblock %}
